#johnny{
    background-color: rgb(160, 170, 180);
    margin-top: 50px;
    padding: 10px;
    width: 50%;
    left: 25%;
    text-align: center;
    list-style: inside;
    position: absolute;
    font-family: Arial sans-serif;
    border: solid 3px;
    font-size: 18px;
}

#tom{
    background-color: rgb(160, 170, 180);
    margin-top: 550px;
    padding: 10px;
    width: 50%;
    left: 25%;
    text-align: center;
    list-style: inside;
    position: absolute;
    font-family: Arial sans-serif;
    border: solid 3px;
    font-size: 18px;
}
