#johnny{
    margin-top: 50px;
    background-color: rgb(160, 170, 180);
    text-align: center;
    list-style: inside;
    padding: 10px;
    width: 50%;
    position: absolute;
    left: 25%;
    font-family: Arial;
    border: solid 3px;
}
