.info{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    left: 25%;
    position: relative;
    font-family: Arial sans-serif;
    border: solid 3px;
    border-radius: 10px;
}

a{
   	text-decoration: none;
    font-weight: 800;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: rgb(70, 70, 80);
    font-weight: 900;
    text-decoration: underline;
}
