body {
    background-color: #9A9A9A;
    text-align: left;
    margin-left: 5%;
}
ul, ol{
    margin-left: -2%;
}
p {
    font-size: 18px;
    font-family: "Apple SD Gothic Neo", sans-serif;
}

#heading{
    font-family: "Apple SD Gothic Neo", sans-serif;

}

#video{
    width: 500px;
    border: 2px solid white;

}
#disclaimer{
    font-size: 12px;

}

table{
    border-collapse: collapse;
}
table, td, th{
    border: 1px solid black;
    padding: 5px;
}
th{
    background-color: #888888;
}
img{
    border: 2px solid black;
}
