.map{
  order: 6;
  text-align: center;
  height: 600px;
  flex: 1;
}

.dalane-map{
  width: 500px;
  height: 400px;
  margin: auto 12px;
}

.generelt{
  order: 3;
  flex-basis: 84%;
  margin-left: 25px;
  height: 480px;
}
.generelt p{
  font-size: 18px;
  position: relative;
  left: 50px;
  top: 150px;
}
.generelt img{
  border-radius: 5px;
  position: relative;
  left: 50%;
  width: 650px;
  top: -60px;
}
.bilde-tekst{
  text-align: center;
  margin-top: -200px;
  margin-left: 550px;
}

.utdannigsprogram{
  order: 4;
  height: auto;
  padding: 0 80px;
}
.utdannigsprogram ul, .programfag ul{
  list-style: none;
  padding: 0;
}

.programfag{
  order: 5;
  height: auto;
  padding: 0 80px;
}
.innhold{
  text-align: center;
  font-size: 18px;
}
footer{
  order: 7;
}
