.row-1, .row-2{
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 100%;
}
.row-1{
  order: 2;
}
.row-2{
  order: 5;
}
.generelt{
  order: 3;
  flex-direction: column;
  height: auto;
  flex: 1;
}
.generelt p{
  font-size: 18px;
  text-align: center;
}
.generelt img{
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 70%;
}
.utdannigsprogram{
  order: 4;
  height: auto;
  width: 30%;
  padding: 0 30px;
}
.utdannigsprogram ul, .programfag ul{
  list-style: none;
  padding: 0;
}
.programfag{
  order: 5;
  height: auto;
  width: 30%;
  padding: 0 30px;
}
.programfag table{
  margin: 0 auto;
  border-collapse: collapse;
}
.programfag th, .programfag td{
  padding: 2px 15px;
  border: 2px solid black;
}
.programfag th{
  background-color: rgba(0, 0, 0, 0.15);
}
.innhold{
  text-align: center;
  font-size: 18px;
}
p a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p a:hover{
  color: #454545;
  text-decoration: underline;
}
.map{
  order: 6;
  text-align: center;
  height: 650px;;
  flex: 1;
}
.dalane-map{
  width: 70%;
  height: 70%;
  margin: auto 20px;
}
footer{
  order: 7;
}
