.row-1{
  order: 2;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 100%;
}
.generelt{
  order: 3;
  text-align: left;
  height: 500px;
  flex: 1;
  text-align: center;
  height: auto;
  font-size: 18px;
}
.generelt ul{
  list-style: none;
}
.generelt img{
  width: 100%;
}
p a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p a:hover{
  color: #454545;
  text-decoration: underline;
}
td{
  padding: 20px;
  vertical-align: top;
}
.map{
  order: 4;
  flex-basis: 100%;
  text-align: center;
  font-size: 18px;
  height: auto;
}
.maps{
  display: flex;
  flex-direction: row;
}
.sauda-map, .birkeland-sauda-map, .suldal-map{
  padding: 20px;
  margin: 0 auto;
}
iframe{
  max-width: 100%;
}
footer{
  order: 4;
}
